@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

  .signup-page {
    padding-bottom: 6rem;
  }

  .signup-form{
  background-color: var(--mainColor);
  display: block;
  padding: 6rem;
  max-width: 80%;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
 
  .signup-title {
    font-size: 2.5rem;
    padding-bottom: 2rem;
    line-height: 2rem;
    text-align: center;
    color: var(--secondaryColor);
    font-family: 'Mada', sans-serif;
    font-weight: 600;
  }
  
  .already{
    /* position: relative; */
    margin: auto;
    width: 100%;
    text-align: center;
    color: #606060;
  }
  
  .required-field{
    color: rgb(243, 69, 69);
  }
  
  form{
   
    position: relative;
    margin: 30px auto 0 auto;
  }
  
  .row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
  }

  label{ 
    color:#1c093c;
    font-size: 14px; 
}

input {
    width: 100%;
    font-weight:400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}

input:focus
    {
        outline:none;
        border-color: #6f6df4;
    }

.submit-signup{
  padding: .75rem 6rem;
  margin: 1rem 0;
  font-weight: 500;
  background-color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
  color: var(--mainColor);
  font-size: 1rem;
  font-weight: 800;
  display: flex;
  cursor: pointer;
  border-radius: 50px;
  text-transform: uppercase;

}

.submit-signup:hover{
  background-color: var(--mainColor);
  color: var(--secondaryColor)
}

@media screen and (max-width: 1024px){
  .submit-signup{
    padding: .75rem 1.7rem;
    margin: 1rem 0;
    font-weight: 500;
    background-color: var(--secondaryColor);
    border: 2px solid var(--secondaryColor);
    color: var(--mainColor);
    font-size: 1rem;
    font-weight: 800;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    text-transform: uppercase;
  
  }
  
  .submit-signup:hover{
    background-color: var(--mainColor);
    color: var(--secondaryColor)
  }
}




  
  