@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjord+One&family=Scada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a:-webkit-any-link{text-decoration: none; };

:root {
	--mainColor: #FFF;
	--mainColorLight: #5767aa;
	--secondaryColor: #551a8b;
	--textColor: #252525;
}

/* html{
	height: 100%;
	box-sizing: border-box;
} */

.page-container{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content-wrap {
	flex:1;
}

/*added in case we want a color background in every page"*/
 body {
	font-family: 'Mandali', sans-serif; 
	/* position: relative; */
    /* margin: 0; */
	/* min-height: 100%; */
	/* padding-bottom: 6.74rem; */
	/* box-sizing: inherit; */
    background: linear-gradient(
      135deg,
      #dbdbe7,
      #cfcee7
    );
  } 



.association{
text-align: center;
}

.adopter{
text-align: center;
}

 

.center{
  display: flex; 
  flex-direction: column;
  align-items: center;

}


/* .card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}
 
.PetCard h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}
  */

.EditPetPage,
.AddPet
{
  background: #f9eec3;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}
 
.EditPetPage {
  background-color: rgb(226, 210, 172);
}
 
.EditPetPage form,
.AddPet form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 

.AddPet button {
  display: block;
}

.required-field {
	color: red;
}

.delete {
	background-color: red;
	color: white;
	margin: 1em;
	padding: 0.5em;
}
 
#cover img {
	width: 100%;
	margin: auto 0;
}