@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(
      135deg,
      #dbdbe7,
      #cfcee7
    );
  }

  .login-container {
    background-color: #ffffff;
    width: 30%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
    
  }

  .login-title {
    font-size: 30px;
    text-align: center;
    color: #1c093c;
  }

  .login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }

  .submit-login{
    border:none;
    padding: 10px 20px;
    background:#a8a7f3;
       
    color:#ffffff;
    border-radius: 3px;
    cursor: pointer;
}
